<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="/signup" class="formulario" method="POST" class="form-signin">
		<img class="mb-2 mt-4" src="./images/icon1.png" alt="" width="150px" >
			<h1>Create Account</h1>
			<div class="social-container">
				<a href="/auth/facebook" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="/auth/google-plus" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="/auth/linkedin" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
      	<h1 class="h3 mb-3 font-weight-normal">Sign up</h1>
      	<input type="text" name="username" id="input-username" placeholder="Fulano Beltrano Ciclano" required/>
      	<input type="email" name="email" id="input-email" placeholder="example@ironbnb.com" required/>
      	<input type="password" name="password" id="input-password" placeholder="***********" required/>
		<button type="submit">Create account</button>
        <p class="mt-5 mb-3 text-muted text-center">© Ironbnb 2020</p>
    
		</form>
	</div>
	 {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
    {{/if}}
	<div class="form-container sign-in-container">
		<form action="/login" class="form-signin" method="POST">
		<img class="mb-2 mt-4" src="./images/icon1.png" alt="" width="150px" >
			<h1>Login</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			
			<span>Use your account</span>
			<input ttype="email" name="email" id="input-email" placeholder="example@ironbnb.com" required/>
			<input type="password" name="password" placeholder="Password" required/>
			<a href="#">Forgot your password?</a>
			<button type="submit">Login</button>

        <p class="mt-5 mb-3 text-muted text-center">© Ironbnb 2020</p>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left" >
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Login</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign up</button>

			</div>
			 {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
    {{/if}}
		</div>
	</div>
</div>

