<div class="jumbotron text-center" style="padding: 10px!imporante;background-color: rgba(7, 0, 0, 0.1)!important">
    <div class="jumbotron text-center" style="padding: 10px!imporante;background-color: rgba(7, 0, 0, 0.1)!important">
        <div class="jumbotron text-center" style="padding: 10px!imporante;background-color: rgba(7, 0, 0, 0.1)!important">
            <div class="jumbotron text-center" style="padding: 10px!imporante;background-color: rgba(7, 0, 0, 0.1)!important">
                <div class="alert alert-danger">
                    <div class="container">
                        <div class="alert-icon">
                            <i class="material-icons">error_outline</i>
                        </div>
                        <h1>Error!</h1>
                        <h2>There was an error on the server! Check the console!</h2>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</div>
