<div>
    <h1>IronBnb</h1> 

    <form action="/search" method="GET">
        <label for="input-host">Local</label>
        <input type="text" name="input-host" id="local" placeholder="Search...">
        <button type="submit">Search</button>
    </form>
</div>