
<style>.btn_white{
  background-color: white ;
  width: 40px;
  height: 38px;
  border-left:none;

}#local{
    border:1px solid lightseagreen;
    border-right:none;
}
.imgbg{
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    
}
.thumbnail {
    position: relative;
    text-align: center;
    color: white;
    width:100%;
    height: 100%;
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  
}

</style>    

    <div class="principal ">
        <div class="row" id="box-search">
    <div class="thumbnail text-center">
        <img src="/images/backgroundHomePage.png" alt="" class="img-responsive">
        <div class="caption">
            {{!-- <h1><img src="/images/icon1.png" alt="" width="60px"></h1>  --}}
            <form class="align-middle" action="/search" method="POST">
            {{!-- <label for="input-host">Procure por uma localidade.</label>  --}}
        <div class="input-group mb-3 " >
        <input type="text" class="form-control" id="local" placeholder="Search..." aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
        <button class="btn_white btn btn-outline-primary fa fa-search " type="submit"></button>
  </div>
</div>
</form>
    </div>
</div>
        {{!-- <img class="imgbg" src="./images/backgroundHomePage.png" class="" alt=""> --}}
          
      </div>
    </div>
