<div class=" text-center">
    <div class="cover-container flex-column mx-auto"></div>
    <img class="imgbg" src="./images/backgroundHomePage.png"  alt="Background Homepage">

        <div class="">
            <h1><img class="mt-4" src="/images/icon1.png" alt="Ironbnb Icon" width="150px"></h1> 
            <form class="inner cover" action="/search" method="GET">
                <label for="input-host"></label> 
                <div class="input-group mb-3">
                    <input name="search" type="text" class="form-control" id="local" placeholder="Procure por uma localidade" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn_white btn btn-outline-primary fa fa-search " type="submit"></button>
                    </div>
                <label for="input-Hospedes">
                  <span><input class="form-check-inline " type="number" style="width: 50px" >Qtd.de Hospedes  </span><span> <input type="number" class="" style="width: 100px">Preço</span>
                </label> 
                </div>
            </form>
        </div>
</div>

