<div class=" text-center">
    <div class="cover-container flex-column mx-auto">
    <img class="imgbg" src="./images/backgroundHomePage.png" width="100%" height="auto" alt="Background Homepage">

        <div class="form-center">
            <h1><img class="mt-4" src="/images/icon1.png" alt="Ironbnb Icon" width="150px"></h1> 
            <form class="inner cover" action="/search" method="GET">
                <label for="input-host"></label> 
                <div class="input-group mb-3">
                    <input name="search" type="text" class="form-control" id="local" placeholder="Procure por uma localidade" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn_white btn btn-outline-primary fa fa-search "  type="submit"></button>
                    </div>
                <label for="input-Hospedes">
                  <input class="form-check-inline search" min="0" max="10" type="number" style="width: 50px"><span class=" p-1">Nº de Hospedes</span>  <span> <input type="number" min="0" max="100000" class="index-price-search" style="width: 70px">   Preço</span>
                </label> 
                </div>
            </form>
        </div>
</div>

