<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/stylesheets/mutateStyle.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="d-flex">
        <span class="w-100 d-lg-none d-block"></span>
        <a href="/"><img src="/images/icon1.png" width="150px" alt="Ironbnb Icon"></a>  
      </div>

      <div class="collapse navbar-collapse flex-grow-3s text-right" id="myNavbar7">
        <ul class="navbar-nav ml-auto flex-nowrap">    
          {{#if userInSession}}
            <li class="nav-item">
              <form id="logout-form" action="/logout" method="POST">
                <button>Logout</button>
              </form>
            </li>
            {{else}}
            <li class="nav-item">
              <a href="/signup">Signup</a> <span> </span>
            </li>
            <li class="nav-item ml-3 mr-3">
              <a href="/login">Login</a> <span>  </span>
            </li>
          {{/if}}
        </ul>
      </div>
    </nav>
    <article>
    <div id="#page-container">
        <div id="content-wrap">
        {{{body}}}
       </div>
  
    </div>
    </article>
    <footer class="footer ">
        Developed by José and Eduardo
    </footer>
    
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/locale/br.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="/javascripts/script.js"></script>
    <script src="/javascripts/searchDetailsArrow.js"></script>
  </body>

</html>
