<section class="jumbotron text-center">

</section>

{{!-- Filtro da Pesquisa de Hosts --}}
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {{#each host}}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="images/hostExemple.jpg" alt="host" style="height: 225px; width: 100%; display: block;" data-holder-rendered="true">
                        <div class="card-body">
                            <h3>{{this.local}}</h1>
                            <p class="card-text">Qnt de hospedes: {{this.qntHosp}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        View
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
