

body {
    background-color: #ffffff;
    font-family: Avenir Next, Avenir, SegoeUI, sans-serif;
  }
  
  .tag {
    margin: 0 10px 0 0;
    display: inline;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 2px 8px;
  }
  
  h1{
    text-align: center;
  }
    
  .form-inline{
    width: 500px!important;
  }
  #number{
background-color: rgba(255, 255, 255, 0.5);
    border-right:none!important;
    border-left:none!important;
    
    border-radius: 0!important;
}
#search{
  background-color: rgba(255, 255, 255, 0.5);

  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  
}
      
 .corpo{
      position: relative;
      width: 100%;
      height: 100;
      align-content: center;
      
  }

  .profile {
  background-color: rgba(6, 221, 203, 0.973)
  }abel-float{
    position: relative;
    padding-top: 13px;
  }
  
  .body{
    font-family: sans-serif;
    transform: scale(2);
    transform-origin: 0 0;
    height: 130px
  }
  
  .label-float{
    position: relative;
    
  } 
  
  .label-float input{
    border: 2px;
    border-bottom: 2px solid lightgrey;
    outline: none;  
    min-width: 180px;
    
    font-size: 25px;
    color: black  ;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-appearance:none;
    border-radius:0;
  }
  
  .label-float input:focus{
    border-bottom: 2px solid #53006d;
  }
  
  .label-float input::placeholder{
    color:transparent;
  }
  
  .label-float label{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 10%;
    margin-top: 10%;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
  }
  
  .label-float input:required:invalid + label{
    color: red;
  }
  .label-float input:focus:required:invalid{
    border-bottom: 2px solid red;
  }
  .label-float input:required:invalid + label:before{
    content: '*';
  }
  .label-float input:focus + label,
  .label-float input:not(:placeholder-shown) + label{
    font-size: 15px;
    margin-top: 1%;
    left: 10px;
    color: #53006d;
  }


  .label-float2{
    position: relative;
    
  } 
  
  .label-float2 input{
    border: 2px;
    border-bottom: 2px solid lightgrey;
    outline: none;  
    min-width: 180px;
    
    font-size: 25px;
    color: black  ;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-appearance:none;
    border-radius:0;
  }
  
  .label-float2 input:focus{
    border-bottom: 2px solid #53006d;
  }
  
  .label-float2 input::placeholder{
    color:transparent;
  }
  
  .label-float2 label{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 15%;
    margin-top: 20%;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
  }
  
  .label-float2 input:required:invalid + label{
    color: red;
  }
  .label-float2 input:focus:required:invalid{
    border-bottom: 2px solid red;
  }
  .label-float2 input:required:invalid + label:before{
    content: '*';
  }
  .label-float2 input:focus + label,
  .label-float2 input:not(:placeholder-shown) + label{
    font-size: 15px;
    margin-top: 2%;
    left: 10px;
    color: #53006d;
  }


  
.bordas15{
  border-radius: 17%;
  border-top-left-radius: 50%;
 border-top-right-radius: 50%;
}

.texto-descricao{
text-align: start;
color:white;
font-size: 20px!important
}
.texto-titulo{
 color: white;
 text-align: start;
 align-self: flex-start;
}
.texto-espaco{
text-align: start;
color:white;
font-size: 12px;
}

.texto-tipos{
text-align: start;
color:white;
font-size: 20px;
}
.left{
 border-radius:50%;
 height:50%;
 top:25%;
 background-color: rgba(7, 0, 0, 0.1);
}
.right{
 border-radius: 50%;
 height:50%;
 top:25%
}

.reserva-host{
 background-color: rgba(20, 10, 10, 0.493)
}
