@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


html{
  height:100%
}

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  position:relative;  
}

a {
  color: #00b7ff;
  text-decoration: none;
  font-size: 1.5em;
}

form {
  margin: 30px auto;
  width: 380px;
}

form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
 
  width: 100%;
}

form input,
form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  /* width: 100%; */
}

form button:hover {
  background: #fff;
  color: #43a3e6 ;
  transition: 0.3s ease background;
}

.error {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

ul {
  
  height: 30px;
  padding: 1em 0;
  list-style-type: none;
}

ul li {
  line-height: 20px ;
}

#logout-form {
  margin: 0;
  padding: 0;
  width: auto;
}

#logout-form button {
  width: auto;
  text-transform: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #00b7ff;
  font-size: 1.5em;
  display: inline-block;
  margin: 0;
}

.footer{
  background:#014547;
  color: #fff;
  padding:10px;
  display: block;
  align-items:center;
  justify-content: flex-start;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
  position: fixed!important;
}

/* * {
	box-sizing: border-box;
} */

.error-message {
	background: #F02B63;
	box-sizing: border-box;
	color: #fff;
	margin: 20px auto;
	padding: 20px;
	width: 100%; 
}


/* .corpo{
	margin: 0;
    padding: 0;
    font-family: "poppins";
    display: flex;
    justify-content: center;
    align-items: center;;
    align-content: center;
    min-height: 100vh;
    color: #fff
} */


.card_new{



    transition: 0.3s ease-out;
  
}


.content{
	border-radius: 10%;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;;
    padding: 12px;
    background: #008bcc;;
    transition: all 0.5s cubic-bezier(.48, -0.28, 0.41, 1.4);
    box-sizing: border-box;;
    overflow: hidden;
    opacity: 0.8;
}

.content:hover{
	border-radius: 10%;
    width: 100%;
    height:60%;
   
    bottom:0;
}

.content p {
    margin: 10px 0 0;
    padding: 1em 1em;
    transform: translateY(2em);
    line-height: 1.3em;
    transition: 0.3s;
    text-align: justify;
    opacity: 0;
}
.content  {
-webkit-line-clamp: 5;
overflow : hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-box-orient: vertical;
color: white;
}
.card_new:hover .content p{
	border-radius: 10%;
    transform:translateY(0) ;
    opacity: 1;
}

h2{
    text-align: center;
}

.card_new:hover{
	border-radius: 10%;
    box-shadow: 0 0 5em rgba(0, 0 ,0 0.4);
}

    .search-field{
        height: 100%;
        width: 100%;
        border: none;
        border-radius: 25px;
        outline: none;
       
        
    }
    .pesquisa-local{
      border-radius: 25px !important;
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
          font-size: 25px;
    }
    .pesquisa-hospedes{
     
   
     font-size: 25px
  ;
    }
    .search-botao{
      background-color:rgb(20, 169, 196) ;
        height: 100%;
        width: 50%;
        border-color: purple;
        border:none;
        border-radius: 25px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .div-form{
        width: 100%;
        top:50%;
        display: flex;
        flex-wrap: wrap;
        padding:3px
    }
    

    .crossfade > figure {
      animation: imageAnimation 30s linear infinite 0s;
      backface-visibility: hidden;
      background-size: cover;
      background-position: center center;
      color: transparent;
      height: 100%;
      left: 0px;
      opacity: 0;
      position: absolute;
      top: 0px;
      width: 100%;
      
      
    }
    
    .crossfade > figure:nth-child(1) {
      background-image: url('/images/cabanaPraia.jpg');
    }
    .crossfade > figure:nth-child(2) {
      animation-delay: 6s;
      background-image: url('/images/citOsasco.jpg');
    }
    .crossfade > figure:nth-child(3) {
      animation-delay: 12s;
      background-image: url('/images/chaleRosa.jpg');
    }
    .crossfade > figure:nth-child(4) {
      animation-delay: 18s;
      background-image: url('/images/apto2Osasco.jpg');
    }
    .crossfade > figure:nth-child(5) {
      animation-delay: 24s;
      background-image: url('/images/aptoOsasco.jpg');
    }
    
    @keyframes imageAnimation {
      0% {
        animation-timing-function: ease-in;
        opacity: 0;
      }
      8% {
        animation-timing-function: ease-out;
        opacity: 1;
      }
      17% {
        opacity: 1
      }
      25% {
        opacity: 0
      }
      100% {
        opacity: 0
      }
    }
    


    /* Pagina INDEX */

    .cabeca{
      color: white;
      width: 100%;
      height: 100vh;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: rgba(15, 11, 8, 0.8);
    z-index: 2;
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: sans-serif;
  }
  /* @media only screen and (max-width: 1200px) and (min-width: 750px) {
   .cabeca{   
   display: flex;
      color: white;
      background-image:  linear-gradient(
      115deg,
      rgba(204, 85, 16, 0.5),
      #be1cbe80);
    
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      }
      }
      @media only screen and (max-width: 749px) and (min-width: 400px) {
  .cabeca{
      color: white;
      background-image:linear-gradient(
      115deg,
      rgba(204, 85, 16, 0.5),
      rgba(190, 28, 190, 0.5));
 
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
  }
      } */

      

      .login-home{
        color:white!important;
        font-size: 20px;
        font-weight: 600;
      } 
      .login-home:hover{
        color:rgb(54, 2, 88)!important;
        
      }
      .home-home:hover{
        color:rgb(54, 2, 88)!important;
    
      }
      .hosts-home:hover{
        color:rgb(54, 2, 88)!important;

      }
      .hosts-home{
        color:white!important;
        font-size: 25px;
        font-weight: 600;
      }
      .home-home{
        color:white!important;
        font-size: 25px;
        font-weight: 600;
        
      }
      .profile-home{
        color:white!important;
        font-size: 25px;
        font-weight: 600;
      }
      .profile-home:hover{
        color:rgb(54, 2, 88)!important;
      
      }
      .bg-half {
        background-color: rgba(13, 8, 15, 0.8);
      }


      *{
        margin:0;
        padding:0;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

      }


      #facilities{
        background-color: rgba(15, 11, 8, 0.8);
        padding-left: 30px 0px;
      }

      #facilities h1{
        font-weight: 900;
        font-size: 34px;
        padding-bottom: 5px;
      }
      .title{
        text-align: center;
        padding: 25px 0px;

      }
      .title p{
        font-size:18px
      }
      .card-body{
        box-shadow:  0 0 20px 7px rgba(15, 11, 8, 0.8);
      }
      .card{
        margin:20px 10px ;
        
    

        }
      .card-body a{
        color: green;
        text-decoration: none;
        font-size: 15px;
        margin-top:auto;
        font-weight: 600;
      }
      .card-body a:hover{
        color: blue;
        text-decoration: none;
      }
      


      .caixa{
        position: relative;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        flex-wrap: wrap;
        padding:30px
      }

     .caixa .carta{
        position: relative;
     
        background-color: #fff;
        margin:30px 10px;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        box-shadow:  0 5px 20px rgba(0,0,0,0.5);
        transition: 0.5s ease-in-out;;
      }
      .caixa .carta:hover{
        height: 20%;
      }
      .caixa .carta .imgCaixa{
        position: relative;
        
        top:-60px;
        left: 20px;
        z-index: 1;
        box-shadow: 0 5px 20px rgba(0, 0 ,0 0.4);
      }
      .caixa .carta .imgCaixa img {
       max-width: 100%;
        border-radius: 4px;
      }
     
      .caixa .carta .contente {
        position: relative;
        margin-top: -140px;
        padding: 10px 15px ;
        text-align: center;
        color: #111;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease-in-out;


      }
      
      .caixa .carta:hover .contente{
        visibility: visible;
        opacity: 1;
        margin-top: -40px;
        transition-delay: 0.3s;
      }

      .arredondamento{
       border-radius: 0%;
      }
     
      input{
        background-color: rgba(173, 110, 214, 0.5)!important;
      }
      label{
        color: rgb(54, 2, 88)!important;
      }
      
      button{
        background-color:rgb(54, 2, 88)!important ;
        border:none !important
      }
      button:hover{
        color:rgb(54, 2, 88)!important;
        background-color:rgb(135, 66, 184)!important
      }
      .btn_padrao{
        background-color:rgb(54, 2, 88)!important ;
        border:none !important
      }
      .btn_padrao:hover{
        color:rgb(54, 2, 88)!important;
        background-color:rgb(135, 66, 184)!important
      }
      footer{
        background-color: rgb(37, 2, 61)!important ;
      }

      .navbar{
        background-color: rgb(105, 23, 160)!important;
        color: rgb(37, 2, 61)!important
      }
      
      .form-container{
        background-color: rgb(105, 23, 160)!important
      }

      .jumbotron{
        background-color: rgba(173, 110, 214, 0.5)!important;
      }

      .profile{
        background-color: rgb(63, 9, 99)!important
      }

    