
<div class="container"><div class="jumbotron"></div>
<form action="/host/create" enctype="multipart/form-data" class=" column formulario w-100 float-label" method="POST" class="form-signin">
		<h1>Host</h1>
      	<h1 class=" h3 mb-3 font-weight-normal"></h1>

        <label for="local" class="text-left" style="font-size:25px">Regiao</label>
      	<input type="text" name="local" id="input-username" placeholder="Osasco" style="font-size:25px"required/>

        <label for="local" class="text-left" style="font-size:25px">Titulo</label>
      	<input type="text" name="title" id="input-username" placeholder="Chale Bonito"style="font-size:25px" required/>

        <label for="espaco" class="text-left" style="font-size:25px">Espaco</label>
      	<input type="text" name="espaco" id="input-username" placeholder="Quarto inteiro"style="font-size:25px" required/>
		
		


		<div class="row w-100  d-flex justify-content-between  ">
				<div class="  col-sm-6 ">
        	<label for="qntHosp" class="text-left" style="font-size:20px">Quantidade de Hospedes</label>
      		<input type="number" name="qntHosp" min="0" class="w-100 mr-auto column" id="input-username" placeholder="10" style="font-size:25px"required/>
   		</div>
			
			<div class="col-sm-6"><label for="preco" class="text-right" style="font-size:20px">Preço R$ /noite</label>
      	<input type="number" name="preco" min="0" class="w-100 ml-auto" id="input-username" placeholder="200" style="font-size:25px"required/>      </div>
      
      	</div>
		<div class="mb-4  h-100">

        </div>
		  
   <input type="file" name="imgPath">

           
		<button  type="submit" style="font-size:20px" > <svg width="10%" height="10%" viewBox="0 0 16 16" class="bi bi-person-check-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm9.854-2.854a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
</svg> Create Host </button>
		
        
    
</form>
<div class="jumbotron"></div>


