<form action="/host/create" enctype="multipart/form-data" class="formulario" method="POST" class="form-signin">
		<h1>Host</h1>
      	<h1 class="h3 mb-3 font-weight-normal"></h1>

        <label for="local">Regiao</label>
      	<input type="text" name="local" id="input-username" placeholder="Osasco" required/>

        <label for="local">titulo</label>
      	<input type="text" name="title" id="input-username" placeholder="Chale Bonito" required/>

        <label for="espaco">espaco</label>
      	<input type="text" name="espaco" id="input-username" placeholder="Quarto inteiro" required/>

        <label for="qntHosp">Quantidade de Hospedes</label>
      	<input type="text" name="qntHosp" id="input-username" placeholder="10" required/>
   

        <label for="preco">Preço /noite</label>
      	<input type="text" name="preco" id="input-username" placeholder="200" required/>      
      	 
        <input type="file" name="imgPath">
           
		<button type="submit">Create account</button>
		
        <p class="mt-5 mb-3 text-muted text-center">© Ironbnb 2020</p>
    
</form>